.dpF {
    display: flex;
}
.fdC {
    flex-direction: column;
}

.jcC {
    justify-content: center;
}
.jcSE {
    justify-content: space-evenly;
}
.aiC {
    align-items: center;
}
.g0_5em {
    gap: 0.5em;
}
.g0_25em {
    gap: 0.25em;
}
.g1em {
    gap: 1em;
}
.bgA{
    background-color: aqua;

}
.bgI{
    background-color: indigo;
    
}
.bgSG{
    background-color: springgreen;
    
}
.bgP{
    background-color: peru;
    
}
.bgB{
    background-color: black;
}
.gtc6fr {
    grid-template-columns: repeat(6,1fr);

}
.w100vw {
    width: 100vw;
}
.w100pc {
    width: 100%;
}


.h100vh {
    height: 100vh;
}
.h100pc {
    height: 100%;
}
.w2em {
    width: 2em;
}
.h2em {
    height: 2em;
}
.h3em {
    height: 3em;

}
.dpG {
    display: grid;
}
/* colores */
.coWhite{
    color: white;
}
/* fonts */
.fwB{
    font-weight: bold;
}
.posF{
    position: fixed;
}
.T0{
    top: 0;

}
.br0_5em {
    border-radius: 0.5em;
}
.pd1em {
    padding: 1em;
}
